:root {
    --sideMargin: 3vw;
    --darkColor: #b6b9a7;
    --middleColor: #c3d0c3;
    --middleColor2: #e1e8ce;
    --middleColor3: #f7f9ef;
    --lightColor: #FAFFFB;
    --textMain: #000;
    --textAlt: #333;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: arial;
}

* {
    box-sizing: border-box;
    color: var(--textMain);
}

#container {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s;
}

.graph {
    width: 100%;
    height: 100%;
}

#topicView {
    width: 100%;
    height: 100%;
}

.node {
    cursor: pointer;
    transition: opacity 0.25s;
}

.nodeTextBox {
    text-align: center;
    padding-left: 8pt;
    padding-right: 8pt;
    user-select: none;
    pointer-events: none;
    font-size: 10pt;
}

.nodeTextBoxBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodeTitleBox {
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.nodeTitleBox_ {
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.nodeLecturer {
    letter-spacing: 0.05em;
    font-size: 10pt;
    text-transform: uppercase;
}

.nodeTitle {
    font-size: 8pt;
    margin-top: 0.5em;
}