#sideBar {
    height: 100%;
    width: 35%;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.5s;
    overflow-y: scroll;
}

#sideBarFrontContainer {
    margin: var(--sideMargin);
}

#sideBarFrontContainer>div {
    margin-bottom: 1vw;
}

#sideBarFrontLabel {
    font-size: 1.2vw;
}

.searchBarContainer {
    padding: 0.6vw;
    background: #f8f8f8;
}

.searchBar {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.2vw;
    background: #f8f8f8;
}

/* VIDEO LIST */

#videoList>div {
    margin-bottom: 1vw;
}

.videoListItem {
    display: flex;
}

.videoListItemDescription {
    margin-left: 1em;
    width: calc(100% - 120px - 1em);
}

.videoListItemTitle {
    font-size: 1vw;
}

.videoListItemLecturer {
    text-transform: uppercase;
    font-size: 1vw;
    margin-bottom: 0.5em;
}

.videoListItemDate {
    font-size: 0.8vw;
    margin-bottom: 0.5em;
    color: var(--textAlt);
}

.videoListItemThumb {
    width: 120px;
    height: 90px;
    cursor: pointer;
}

/* VIDEO PLAYER */

#playerContainer {
    margin: var(--sideMargin);
}

#playerLecturer {
    font-size: 3vh;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#playerAffiliation {
    font-size: 1.75vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--textAlt);
}

#playerDate {
    font-size: 1.75vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: var(--textAlt);
}

#playerTitle {
    font-size: 2.75vh;
    margin-top: 1vh;
}

#playerSummary {
    font-size: 2vh;
    line-height: 1.75em;
    text-align: justify;
}

#ytvideo {
    display: block;
    width: 100%;
    height: 35vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}