:root {
    --side_margin: 3vw;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: arial;
}

* {
    box-sizing: border-box;
}

#container {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s;
}

.graph {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}

#topicView {
    width: 100%;
    height: 100%;
    font-size: 10pt;
}

.node {
    cursor: pointer;
    transition: opacity 0.25s;
}

.nodeTextBox {
    text-align: center;
    padding-left: 8pt;
    padding-right: 8pt;
    user-select: none;
    pointer-events: none;
}

.nodeTextBoxBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodeTitleBox {
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.nodeTitleBox_ {
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.nodeLecturer {
    letter-spacing: 0.05em;
    font-size: 2vh;
    text-transform: uppercase;
}

.nodeTitle {
    font-size: 1.75vh;
    margin-top: 0.5em;
}

.sideBar {
    height: 100%;
    width: 35%;
    position: fixed;
    top: 0;
    right: 0;
    background: #d6e8d5;
    padding: var(--side_margin);
    transition: width 0.5s;
    overflow-y: scroll;
}

.sideBarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--side_margin);
}

.sideBarTitle {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideBarTitleSpacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5vw;
}

.searchBarContainer {
    padding: 1.5vh;
    background: #fff;
}

.searchBarContainer:focus-within {
    outline-style: solid;
    outline-width: thin;
    outline-color: #a5e2ff;
}

.searchBar {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 2.5vh;
}

.button {
    margin: var(--side_margin);
    background: #DDD;
    font: 12pt arial, sans-serif;
    height: 2em;
    text-align: center;
    line-height: 2em;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background: #FFF;
}

#videoContainer {
    overflow-y: scroll;
}

.videoLecturer {
    font-size: 3vh;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.videoAffiliation {
    font-size: 1.75vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.videoDate {
    font-size: 1.75vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.videoTitle {
    font-size: 2.75vh;
    margin-top: 1vh;
}

.videoSummary {
    font-size: 2vh;
    line-height: 1.75em;
    text-align: justify;
}

#ytvideo {
    width: 100%;
    height: 35vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.noBox {
    display: none;
}